<% title t('.title') %>
<% content_for :breadcrumb do %>
  <li><%= link_to "Home", root_path %> <span class="divider">/</span></li>
   <li><%= link_to "Projetos", projects_path %> <span class="divider">/</span></li>
  <li class="active">Novo</li>
<% end %>
<%= render "form" %>

