<% title @customer.name %>
<% content_for :breadcrumb do %>
  <li><%= link_to "Home", admin_root_path %> <span class="divider">/</span></li>
  <li><%= link_to "Clientes", admin_customers_path %> <span class="divider">/</span></li>
  <li class="active"><%= @customer.name %></li>
<% end %>

<div id="profile">
  <h1><%= @customer.name %></h1>
  <dl>
    <dt></dt>
  </dl>
</div>
