body {
  background-color: #333;
  font-family: Verdana, Helvetica, Arial;
  font-size: 14px;
}

a {
  color: #ccc;
  border-bottom: 1px solid #888;
  text-decoration: none;
}
a:visited { color: #999; }
a:hover { color: #fff; }

/*---------------------------------------------------------------------------------*/
a.icon {
  opacity: 0.4;
  border-bottom: none;
}

a.icon:hover {
  opacity: 1.0;
  background-color: transparent;
}

a.icon img {
  border: none;
}
h1 {
  color: #ffc;
  font-size: 32px;
  padding-left: 6px;
}
/*---------------------------------------------------------------------------------*/
.odd {
  background-color: #373737;
}

.description{
  background-color: #373737;
  color: #999;
  padding: 20px;
}
.user-name{
  font-weight: bold;
  display: block;
  padding: 6px 0 4px 6px;
  color: #ccc;

}
.project .task {
  position: relative;
  border-bottom: 1px solid #666;
}
.project .task.first {
  border-top: 1px solid #666;
}

.project .task .person-name {
  font-weight: bold;
  font-size: 24px;
  display: block;
  padding: 6px 0 4px 6px;
  color: #ccc;
}
.project .task .task-title {
  display: block;
  color: #999;
  padding: 0 0 4px 6px;
}
.project .task .status-title {
  text-transform: uppercase;
  font-size: 10px;
  font-weight: bold;
  letter-spacing: 1px;
  position: absolute;
  right: 60px;
  bottom: 2px;
}
.project .task .status-title.status_1 { color: #669; }
.project .task .status-title.status_2 { color: #966; }
.project .task .status-title.status_3 { color: #969; }
.project .task .status-title.status_4 { color: #996; }

.project .task .time {
  position: absolute;
  font-size: 12px;
  color: #555;
  top: 11px;
  right: 75px;
}

.project .task a {
  position: absolute;
  top: 10px;
}
.project .task a.editar {
  right: 30px;
}
.project .task a.deletar {
  right: 10px;
}

.project .task a.visualizar {
  right: 50px;
}
.task {
  display: block;
}
.task h2{
  color: #ffc;
  font-size: 24px;
  padding-left: 6px;
}
/*---------------------------------------------------------------------------------*/

.logo a{
  float: left;
  font-size: 38px;
  font-weight: bold;
  border-bottom: 1px transparent;
  text-decoration:none;
}
.header_wrapper {
  width: 75%;
  margin: 0 auto;
  overflow:hidden;
  padding:20px 0;
}

#login_user_status {
  float:right;
  color: #555;
}

/*---------------------------------------------------------------------------------*/

.clear {
  clear: both;
  height: 0;
  overflow: hidden;
}

#container {
  width: 75%;
  margin: 0 auto;
  background-color: #333;
  padding: 20px 40px;
  border: solid 1px #FFF;
  margin-top: 20px;
}

#flash_notice, #flash_error, #flash_alert {
  padding: 15px 35px;
  margin: 10px 0;
  font: 14px Verdana, Arial, Verdana, sans-serif;
}

#flash_notice {
  color: #264409;
  background-color: #e6efc2;
  border: solid 1px #6C6;
  background: #e6efc2 url(/assets/notice.png) no-repeat 10px 15px;
}

#flash_error{

  background: #fff6bf url(/assets/error.png) no-repeat 10px 15px;
  color: #8a1f11;
  background-color: #fbe3e4;
  border: solid 1px #C66;
}

#flash_alert{
  color: #514721;
  background: #fff6bf url(/assets/alert.png) no-repeat 10px 15px;
  border: 1px solid #ffd324;
}

.fieldWithErrors {
  display: inline;
}
#error_explanation{
  background-color: #FCC;
  border: solid 1px #C66;
  padding: 0px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  font-size: 12px;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 10px;
  font-size: 12px;
  margin: 0;
  background-color: #c00;
  color: #fff;
}

#error_explanation p {
  margin: 8px 10px;
}

#error_explanation ul {
  margin: 10px;
}

.error_messages {
  background-color: #FCC;
  border: solid 1px #C66;
  padding: 0px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  font-size: 12px;
}

.error_messages h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 10px;
  font-size: 12px;
  margin: 0;
  background-color: #c00;
  color: #fff;
}

.error_messages p {
  margin: 8px 10px;
}

.error_messages ul {
  margin: 10px;
}

