<% title t('.title') %>
<% content_for :breadcrumb do %>
  <li><%= link_to "Home", root_path %> <span class="divider">/</span></li>
  <li><%= link_to @project.title, @project  %> <span class="divider">/</span></li>
  <li class="active">Editar</li>
<% end %>
<%= render "form" %>

