<% title t('.title') %>
<% content_for :breadcrumb do %>
  <li class="active">Home</li>
<% end %>
<%= render @projects %>
<%= admins_only do %>
  <%= link_to "Novo Projeto", new_project_path %>
<% end %>

