<% title t('.title') %>
<% content_for :breadcrumb do %>
  <li class="active">Home</li>
<% end %>

<%= render @projects %>

<%= admins_only do %>
  <%= link_to_icon "novo", new_project_path %>
<% end %>

