// Place all the styles related to the Tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.assets{
  color: #FFF
}

table.assets_table{
  border-collapse: collapse;
  margin-bottom: 10px
}

.assets_table td, .assets_table th {
  padding: 4px 10px;
  border: solid 1px #AAA;
  text-align:center;
}

#description-task{
  color: #FFF;
  background-color: #666;
  padding: 25px;
}
.create-user-name{
  padding-left: 25px;
  margin-bottom: 30px;
  font-style: italic;
}

